html, body{
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}

#settings {
  position: relative;
  background-color: #333333;
  color: white;
  top: 1%;
  left: 1%;
  height: 5%;
  width: 98%;
  border-radius: 20px;
}

#settingsForm {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
}

#settingsForm *{
  display: inline-block;
}

#calendar {
  position: relative;
  background-color: #333333;
  color: white;
  border-radius: 20px;
  float: left;
  width: 20%;
  height: 80%;
  top: 2%;
  left: 2%;
  text-align: center;
}

body > form{
  position: absolute;
  top: 10%;
  left: 40%;
}

.deleteInput {
  width: 25px;
  margin-left: -25px;
}

#results {
  position: relative;
  background-color: #333333;
  color: white;
  border-radius: 20px;
  float: right;
  top: 2%;
  right: 2%;
  width: 20%;
  height: 80%;
  text-align: center;
}

#suggestionBox {
  position: absolute;
  top: 25%;
  left: 40%;
  border: 1px solid black;
  width: 20%;
}

.suggestion {
  border: 0.5px solid black;
}
