#titleBar {
	-webkit-app-region: drag;
	height: 32px;
	padding: 0px;
    margin: 0px;
	color: #333333;
	font-family: sans-serif;
}

#title {
	position: fixed;
	top: 0px;
	left: 46%;
	line-height: 32px;
	font-size: 14px;
}

#titleBarButtons {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;
}

#titleBarButtons button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #333333;
	font-size: 16px;
}

#titleBarButtons button:hover {
	background-color: #333333;
  color: lightgrey;
}
